<header>
    <div class="container">
  
      <div id="branding">
        <img src="../../assets/wheelhaus_logo.png" alt="wheelhaus_logo">
      </div>
  
      <nav>
        <ul>
          <li><a routerLink="#">Home</a></li>
          <li><a routerLink="#">About</a></li>
          <li><a routerLink="#">Bikes</a></li>
          <li><a routerLink="#">Essentials</a></li>
          <li><a routerLink="#" class="ion-ios-cart icon">{{ cart }}</a></li>
        </ul>
      </nav>
  
    </div>
  </header>